@model fc.ModelViews.CounterModelView
<section id="counter" style="background: url('@Url.Content("~/public/media/site/counter.jpg")') center center no-repeat;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="counting wow fadeInDownQuick" data-wow-delay=".5s">
                    <div class="icon">
                        <span>
                            <i class="lnr lnr-tag"></i>
                        </span>
                    </div>
                    <div class="desc">
                        <h3 class="counter">@Model.countSell</h3>
                        <p>@fc.Resources.Resources.homeCounterRegular</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="counting wow fadeInDownQuick" data-wow-delay="1s">
                    <div class="icon">
                        <span>
                            <i class="lnr lnr-pushpin"></i>
                        </span>
                    </div>
                    <div class="desc">
                        <h3 class="counter">@Model.countFind</h3>
                        <p>@fc.Resources.Resources.homeCounterRequest</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="counting wow fadeInDownQuick" data-wow-delay="1.5s">
                    <div class="icon">
                        <span>
                            <i class="lnr lnr-users"></i>
                        </span>
                    </div>
                    <div class="desc">
                        <h3 class="counter">@(Model.countMembers)</h3>
                        <p>@fc.Resources.Resources.homeCounterMembers</p>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</section>
