
<section class="location">
    <div class="container">
        <div class="row localtion-list">
            <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.5s">
                <h3 class="title-2"><i class="fa fa-envelope"></i> @fc.Resources.Resources.widgetSubscribe</h3>
                <form id="subscribe" action="">
                    <p>@fc.Resources.Resources.widgetSubscribeContent</p>
                    <div class="subscribe">
                        <input class="form-control" name="EMAIL" placeholder="@fc.Resources.Resources.placeHolderEmail" required="" type="email">
                        <button class="btn btn-common" type="submit">@fc.Resources.Resources.widgetBtnSubscribe</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-delay="1s">                
                <div class="post-promo text-center" style="padding:40px;">
                    <h2> @fc.Resources.Resources.widgetPostPromo </h2>
                    <h5>@fc.Resources.Resources.widgetPostPromoContent</h5>
                    <a href="#" class="btn btn-post btn-danger">@fc.Resources.Resources.postFreeButton</a>
                </div>
            </div>
        </div>
    </div>
</section>