@model fc.ModelViews.FilterModelView
@{
    ViewBag.Title = ViewContext.RouteData.Values["controller"].ToString();
    string currentUrl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) + "/" + ViewContext.RouteData.GetRequiredString("controller");    
}
@section scripts {
    <script>
        show_message = function (errore, messaggio) {
            swal({
                title: "Alert ! ",
                html: messaggio,
                buttonsStyling: false,
                confirmButtonClass: "btn btn-primary"
            });
        };

        app.controller('ctrl', ['$scope', 'pageController', function ($scope, pageController) {
            $scope.tc = pageController.createController({
                api_root: '@currentUrl',
                message_function: show_message,
                exit_edit: exit_edit,
                exit_new: exit_new
            })

            $scope.tc.filtri.cat = '@(Model.cat)';
            $scope.tc.filtri.key = '@(Model.key)';

            $scope.tc.refresh();

            var exit_edit = function () { }
            var exit_new = function () { }
        }]);
    </script>
}
@{Html.RenderAction("Search"); }
{{tc | json}}
<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 page-sidebar">
                <aside>
                    <div class="inner-box search-category-page">
                        <div class="widget-title">
                            <i class="fa fa-align-justify"></i>
                            <h4>@fc.Resources.Resources.pageCategoryManifacture</h4>
                        </div>
                        <select class="form-control" style="background:#fff;">
                            <option>Manifacture 1</option>
                            <option>Manifacture 2</option>
                            <option>Manifacture 3</option>
                        </select>
                        <div class="widget-title">
                            <h4>@fc.Resources.Resources.pageCAtegoryYearManifacture</h4>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="number" name="da_anno" value="" placeholder="from" class="form-control"  ng-model="tc"/>
                            </div>
                            <div class="col-sm-6">
                                <input type="number" name="a_anno" value="" placeholder="to" class="form-control" />
                            </div>
                        </div>
                        <button class="btn btn-primary btn-block"><i class="fa fa-filter"></i> @fc.Resources.Resources.pageCategoryBtnShow</button>
                    </div>
                    @{Html.RenderAction("LastProduct"); }
                    @{Html.RenderAction("Advertisement"); }
                </aside>
            </div>
            <div class="col-sm-9 page-content">
                <!-- Product filter Start -->
                <div class="product-filter">
                    <div class="grid-list-count">
                        <a class="list switchToGrid" href="#"><i class="fa fa-list"></i></a>
                        <a class="grid switchToList" href="#"><i class="fa fa-th-large"></i></a>
                    </div>
                    <div class="Show-item">
                        <span>Show Items</span>
                        <form class="woocommerce-ordering" method="post">
                            <label>
                                <select name="order" class="orderby">
                                    <option selected="selected" value="menu-order">@fc.Resources.Resources.pageCategoryFilterSort</option>
                                    <option value="popularity">@fc.Resources.Resources.pageCategoryFilterManifacture</option>
                                    <option value="popularity">@fc.Resources.Resources.pageCategoryFilterYear</option>
                                    <option value="popularity">@fc.Resources.Resources.pageCategoryFilterDataAdd</option>
                                </select>
                            </label>
                        </form>
                    </div>
                </div>
                <div class="adds-wrapper">
                    @for (int i = 1; i <= 6; i++)
                    {
                        <div class="item-list">
                            <div class="col-sm-2 no-padding photobox">
                                <div class="add-image">
                                    <a href="#">
                                        <img src="http://placehold.it/312x273/" alt="" />
                                    </a>
                                    <span class="photo-count"><i class="fa fa-camera"></i>2</span>
                                </div>
                            </div>
                            <div class="col-sm-7 add-desc-box">
                                <div class="add-details">
                                    <h5 class="add-title"><a href="@Url.Action("Index", "Detail")">Product Name</a></h5>
                                    <div class="info">
                                        <span class="add-type">P</span>
                                        <span class="date">
                                            <i class="fa fa-clock"></i>
                                            16:22:13 2017-02-29
                                        </span> -
                                        <span class="category">Category</span> -
                                        <span class="item-location"><i class="fa fa-map-marker"></i>&nbsp;Location</span>
                                        <span class="item-location"><i class="fa fa-calendar"></i>&nbsp;Year</span>
                                    </div>
                                    <div class="item_desc">
                                        <a href="">Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 text-right  price-box">
                                <p class="item-price">@fc.Resources.Resources.pageCategoryItemPrice</p>
                                <a class="btn btn-common btn-sm" href="@Url.Action("Index", "Detail")"> <i class="fa fa-eye"></i> <span>215</span> </a>
                            </div>
                        </div>
                    }
                </div>
                <div class="pagination-bar">
                    <ul class="pagination">
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#"> ...</a></li>
                        <li><a class="pagination-btn" href="#">Next »</a></li>
                    </ul>
                </div>
                <div class="post-promo text-center">
                    <h2> @fc.Resources.Resources.postFreeTitle </h2>
                    <h5>@fc.Resources.Resources.postFreeSubTitle</h5>
                    <a href="@Url.Action("Index", "Post")" class="btn btn-post btn-danger">@fc.Resources.Resources.postFreeButton </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main container End -->
