@model fc.ModelViews.FooterModelView
<footer>
    <!-- Footer Area Start -->
    <section class="footer-Content">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 wow fadeIn" data-wow-delay="0">
                    <div class="widget">
                        <h3 class="block-title">@fc.Resources.Resources.footerAbout</h3>
                        <div class="textwidget">
                            <p>@Html.Raw(Model.chisiamo)</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 wow fadeIn" data-wow-delay="0.5">
                    <div class="widget">
                        <h3 class="block-title">@fc.Resources.Resources.footerUseful</h3>
                        <ul class="menu">
                            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li><a href="@Url.Action("Index", "Category")">@fc.Resources.Resources.footerLinkCategories</a></li>
                            <li><a href="@Url.Action("HowTo", "Home")">@fc.Resources.Resources.footerLinkHowTo</a></li>
                            <li><a href="@Url.Action("Faq", "Home")">FAQ</a></li>
                            <li><a href="@Url.Action("About", "Home")">@fc.Resources.Resources.footerLinkAbout</a></li>
                            @*<li><a href="@Url.Action("Contact", "Home")">@fc.Resources.Resources.footerLinkContact</a></li>*@
                            <li><a href="#">@fc.Resources.Resources.footerLinkTerms</a></li>
                            <li><a href="@Url.Action("Cookie", "Home")">Privacy Policy</a></li>                            
                        </ul>
                    </div>
                </div>              
                <div class="col-md-4 col-sm-4 col-xs-12 wow fadeIn" data-wow-delay="1.5s">
                    <div class="widget">
                        <h3 class="block-title">@fc.Resources.Resources.footerChosen</h3>
                        <ul class="featured-list">
                            @foreach (var x in Model.scelti)
                            {
                                <li>
                                    <img alt="" src="@x.img">
                                    <div class="hover">
                                        <a href="@Url.Action("Index","Detail", new { id = x.id_articolo })"><span>@x.articolo</span></a>
                                    </div>
                                </li>
                            }                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer area End -->
    <!-- Copyright Start  -->
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-info pull-left">
                        <p>Copyrights &copy; 2017 @Model.azienda</p>  
                    </div>
                    <div class="bottom-social-icons social-icon pull-right">
                        @foreach (var x in Model.social)
                        {
                            <a class="@x.id_social" target="_blank" href="@x.link"><i class="@x.icona"></i></a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->
</footer>