<div class="header">
    <nav class="navbar navbar-default main-navigation" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <!-- Stat Toggle Nav Link For Mobiles -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- End Toggle Nav Link For Mobiles -->
                <a class="navbar-brand logo" href="@Url.Action("Index", "Home")">
                    <img src="@Url.Content("~/Public/Media/Site/logo.png")" alt="" />
                    @*<span style="font-size:50px;" class="lnr lnr-layers"></span>&nbsp;<span style="font-size:30px; color:#3498db; line-height:normal;">Camilloni</span>*@
                </a>
            </div>
            <!-- brand and toggle menu for mobile End -->
            <!-- Navbar Start -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Index", "Home")"><i class="lnr lnr-home"></i> Home</a></li>
                    <li><a href="@Url.Action("HowTo", "Home")"><i class="lnr lnr-graduation-hat"></i> @fc.Resources.Resources.headerHowTo</a></li>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li><a href="@Url.Action("Login", "Account")"><i class="lnr lnr-enter"></i> @fc.Resources.Resources.headerLogin</a></li>
                        <li><a href="@Url.Action("Register", "Account")"><i class="lnr lnr-user"></i> @fc.Resources.Resources.headerSignup</a></li>
                    }
                    else
                    {
                        <li><a href="#"><i class="lnr lnr-user"></i> @fc.Resources.Resources.headerAccount</a></li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="lnr lnr-exit"></i> @fc.Resources.Resources.headerLogOut</a></li>
                    }
                    <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-language"></i>                                
                                @fc.Resources.Resources.headerLanguage
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index","Home", new { lang = "en" })"><i class="flag-icon flag-icon-gb"></i>@fc.Resources.Resources.headerEnglish</a></li>                                
                                <li><a href="@Url.Action("Index","Home", new { lang = "it" })"><i class="flag-icon flag-icon-it"></i>@fc.Resources.Resources.headerItalian</a></li>                                
                            </ul>
                    </li>
                    <li class="postadd">
                        <a class="btn btn-danger " href="@Url.Action("Index", "Post")">@fc.Resources.Resources.headerSell</a>                        
                    </li>
                    <li class="buyadd">
                        <a class="btn btn-primary btn-post" href="@Url.Action("Index", "Post")">@fc.Resources.Resources.headerBuy</a>
                    </li>
                </ul>
            </div>
            <!-- Navbar End -->
        </div>
    </nav>
</div>
@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
{
    @Html.AntiForgeryToken()
}