<!DOCTYPE html>
<html ng-app="start" ng-cloak>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="@(Request.Url.GetLeftPart(UriPartial.Path))" />
    <meta property="og:locale" content="it_IT" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@ViewBag.Title - Industria PRO" />
    <meta property="og:url" content="@(Request.Url.GetLeftPart(UriPartial.Path))" />
    <meta property="og:site_name" content="Industria PRO" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="@ViewBag.Title - Industria PRO" />    
    <title>@ViewBag.Title Industria PRO</title>
    @Styles.Render("~/Content/css")
    @RenderSection("css", required: false)
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
    <link rel="shortcut icon" type="image/png" href="@Url.Content("~/public/media/site/favicon.png")" />
    @Scripts.Render("~/bundles/modernizr")
    <script src="@Url.Content("~/Vendors/pace/pace.min.js")" data-pace-options='{ "ajax": false }'></script>
</head>
<body>
    @{Html.RenderAction("Header", "Navigation"); }               
    @RenderBody()
    @{Html.RenderAction("Footer", "Navigation"); }
    <a href="#" class="back-to-top">
        <i class="fa fa-angle-up"></i>
    </a>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")         
    @if (System.Threading.Thread.CurrentThread.CurrentCulture.Name == "en")
    {
        @Scripts.Render("~/bundles/angularjsen")
        <script type="text/javascript">
            var nibirumail_advice_text = 'This website is using cookies. We use them to give you the best experience. If you continue using our website, we\'ll assume that you are happy to receive all cookies on this website. <a href="@(Url.Action("Cookie", "Home"))">Learn more</a>. <a href="javascript:;" class="nibirumail_agreement">Continue</a>';
        </script>
    }
    else
    {
        @Scripts.Render("~/bundles/angularjsit")
        <script type="text/javascript">
            var nibirumail_advice_text = 'Questo sito web utilizza i cookie per offrire un\'esperienza di navigazione migliore. Usando il nostro sito accetti l\'impiego di cookie in accordo con la nostra <a href="@(Url.Action("Cookie", "Home"))">cookie policy</a>. <a href="javascript:;" class="nibirumail_agreement">Ho capito</a>';
        </script>
    }
    <script src="@Url.Content("~/Scripts/nibirumail.cookie.min.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
