@using fc.Models
@model LoginViewModel
@{
    ViewBag.Title = ViewContext.RouteData.Values["action"].ToString();
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<div class="page-header" style="background: url('@Url.Content("~/public/media/site/login.jpg")');">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="page-title">@fc.Resources.Resources.pageLogin</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">                
                <div class="page-login-form box" style="min-height:350px;">
                    <h3>@fc.Resources.Resources.pageLogin</h3>
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="input-icon">
                                <i class="icon fa fa-user"></i>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Username" })
                                @Html.ValidationMessageFor(m=> m.Email,null,new { @class= "help-block with-errors" })                               
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-icon">
                                <i class="icon fa fa-unlock-alt"></i>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Password, null, new { @class = "help-block with-errors has-error" })                                
                            </div>
                        </div>
                        @*@*<div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            <label for="remember">@fc.Resources.Resources.pageLoginRemember</label>
                        </div>*@*@
                        <button class="btn btn-common btn-block">@fc.Resources.Resources.pageLoginSubmit</button>
                    }
                    <div class="mb15"></div>
                    <ul class="form-links">                        
                        <li class="pull-left"><a href="forgot-password.html">@fc.Resources.Resources.pageLoginSubmit</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box"  style="min-height:350px;">
                    <h3>@fc.Resources.Resources.pageLoginPromo</h3>
                    <div class="box box-information-content">
                        <ul>
                            <li>@fc.Resources.Resources.pageLoginPromoList1</li>
                            <li>@fc.Resources.Resources.pageLoginPromoList2</li>
                            <li>@fc.Resources.Resources.pageLoginPromoList3</li>
                            <li>@fc.Resources.Resources.pageLoginPromoList4</li>
                            <li>@fc.Resources.Resources.pageLoginPromoList5</li>
                        </ul>                     
                    </div>
                    <div style="margin-bottom:30px;"></div>
                    <a href="@Url.Action("Register", "Account")" class="btn btn-common btn-block">@fc.Resources.Resources.pageLoginCreate</a>                    
                </div>
            </div>
        </div>
    </div>
</section>
