@model fc.Models.RegisterViewModel
@{
    ViewBag.Title = ViewContext.RouteData.Values["action"].ToString();
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        // extend range validator method to treat checkboxes differently
        var defaultRangeValidator = $.validator.methods.range;
        $.validator.methods.range = function (value, element, param) {
            if (element.type === 'checkbox') {
                // if it's a checkbox return true if it is checked
                return element.checked;
            } else {
                // otherwise run the default validation function
                return defaultRangeValidator.call(this, value, element, param);
            }
        }

        app.controller('ctrl', ['$scope', '$http', function ($scope, $http) {
            $scope.data = [];
            console.log($scope.data);
            $scope.refresh = function () {
                $http({
                    method: 'GET',
                    url: 'https://restcountries.eu/rest/v2/all',
                }).then(function (response) {
                    $scope.data.countries = response.data;
                }, function (response) {
                    console.log(response);
                });
            }
            $scope.refresh();
        }]);
    </script>
}
<div class="page-header" style="background: url('@Url.Content("~/public/media/site/register.jpg")');">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="page-title">Register</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="content" ng-controller="ctrl">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    if (!Html.ViewData.ModelState.IsValid)
                    {
                        @Html.ValidationSummary("", new { @class = "box box-error-content" })
                    }
                    <div class="box">
                        <h2 class="title-2">Register for free</h2>
                        <div class="row mb-30 ">
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <label class="control-label">@fc.Resources.Resource.AddPerson </label>
                                @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Nome) })                                
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <label class="control-label">Last Name</label>
                                @Html.TextBoxFor(m => m.Cognome, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Cognome) })
                            </div>
                        </div>
                        <div class="row mb-30 ">
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <label class="control-label">Country</label>
                                <select name="Nazione"  ng-model="data.country" class="form-control" required="">
                                    <option ng-repeat="option in data.countries" value="{{option.name}}">{{option.name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <label class="control-label">City</label>
                                @Html.TextBoxFor(m => m.Citta, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Citta) })
                            </div>
                        </div>
                        <div class="row mb-30 ">
                            <div class="form-group col-md-8 col-sm-8 col-xs-12">
                                <label class="control-label">Email</label>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Email)})
                            </div>
                            <div class="form-group col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label">Phone</label>
                                @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Telefono) })
                            </div>
                        </div>
                    </div>
                    <div class="mb30"></div>
                    <div class="page-ads box">
                        <h2 class="title-2">Security</h2>
                        <div class="form-group mb30">
                            <label class="control-label">Password</label>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control input-md" })                            
                        </div>
                        <div class="form-group mb30">
                            <label class="control-label">Password</label>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-md" })                            
                        </div>
                    </div>
                    <div class="mb30"></div>
                    <div class="form-group">
                        <div class="page-ads box">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet porta eros, eget facilisis arcu. Duis condimentum fermentum enim, ac rutrum erat venenatis vel Morbi pharetra viverra faucibus.</p>
                            <div class="checkbox">
                                <label>@Html.CheckBoxFor(m => m.TermsAndConditions) I agree to the <a href="#">Terms of Use</a></label>
                            </div><br>
                            <button class="btn btn-common" type="submit">Register</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
